<html>
	<head>
		<title>gorillaseed</title>
        <script src="js/lib/require-2.1.16.js"></script>
        <script src="js/app.js"></script>
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
            {
                display: none;
            }
        </style>
	</head>
	<body ng-controller="counterCtrl" ng-cloak>
		<h1>gorillaseed</h1>
        <p>Global Counter: {{globalCounter}}</p>
        <button ng-click="getGlobalCounter()">Refresh Global Counter</button>
        <button ng-click="incrementGlobalCounter()">Increment Global Counter</button>
        <p>My Counter: {{myCounter}}</p>
        <button ng-click="getMyCounter()">Refresh My Counter</button>
        <button ng-click="incrementMyCounter()">Increment My Counter</button>
	</body>
</html>